@charset "utf-8";

/* Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess */
@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 400;
  src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-Regular.eot");
  src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-Regular-1.eot") format("embedded-opentype"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-Regular.woff2") format("woff2"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-Regular.woff") format("woff"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 700;
  src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-Bold.eot");
  src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-Bold-1.eot") format("embedded-opentype"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-Bold.woff2") format("woff2"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-Bold.woff") format("woff"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumGothic";
  font-style: normal;
  font-weight: 800;
  src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.eot");
  src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold-1.eot") format("embedded-opentype"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2") format("woff2"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff") format("woff"),
       url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf") format("truetype");
}

/* Lato-Regular */
@font-face {
	font-family : "Lato-Regular";
	src :url("/data/skin/front/jeonyul/urban/fonts/Lato-Regular.eot");
	src :url("/data/skin/front/jeonyul/urban/fonts/Lato-Regular.eot?#iefix") format("embeded-opentype"),
	url("/data/skin/front/jeonyul/urban/fonts/Lato-Regular.ttf") format("truetype"),
	url("/data/skin/front/jeonyul/urban/fonts/Lato-Regular.woff") format("woff");
}

/* MalgunGothic */
@font-face {
	font-family: "MalgunGothic";
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.eot");
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold-1.eot") format("embedded-opentype"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2") format("woff2"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff") format("woff"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf") format("truetype");
}

/* Roboto */
@font-face {
	font-family: "Roboto";
	font-style: normal;font-weight:100;
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.eot");
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold-1.eot") format("embedded-opentype"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2") format("woff2"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff") format("woff"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style:normal;font-weight:300;
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.eot");
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold-1.eot") format("embedded-opentype"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2") format("woff2"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff") format("woff"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style:normal;font-weight:400;
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.eot");
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold-1.eot") format("embedded-opentype"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2") format("woff2"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff") format("woff"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style:normal;font-weight:500;
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.eot");
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold-1.eot") format("embedded-opentype"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2") format("woff2"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff") format("woff"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf") format("truetype");
}
@font-face {
	font-family: "Roboto";
	font-style:normal;font-weight:700;
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.eot");
	src: url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold-1.eot") format("embedded-opentype"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2") format("woff2"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.woff") format("woff"),
		 url("../../../../../../ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf") format("truetype");
}

/* urban.css - common layout */
*{padding:0;margin:0;font-family:'Roboto',NanumGothic, sans-serif;}
#wrap .sub_content{padding-top:174px}
.body-main #wrap .sub_content{padding-top:0}
.body-goods-list #wrap .sub_content{width:auto;padding-top:84px}
.body-goods-list #wrap .sub_content .content{width:auto;max-width:1512px;margin:0 auto}
.gnb, .header_top_cont, .header_search_cont, .main_goods_cont, .sub_content, .content_info, .foot_list ul, .foot_cont, .foot_certify{width:1400px;}

/* title common */
#wrap .service_tit{padding-bottom:0;margin-bottom:90px}
#wrap h2{float:none;font-size:24px;line-height:1;letter-spacing:3px;color:#222;text-align:center;margin-top:45px}
.sub_tit{margin-bottom:90px}

/* chrome input backgorund reset */
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset}

/* button */
.btn_ly_download, 
.btn_ly_coupon_apply,
.btn_ly_write_ok,
.btn_ly_ok,
.btn_ly_save,
.btn_escrow_go,
.btn_pg_go{color:#fff;background:#27C8B1;border-color:#27C8B1}


/* company (about us) */
.company_top{display:flex;margin-bottom:60px}
.company_top:after{content:"";display:block;clear:both}
.company_top .img_top{float:left;width:50%}
.company_top .img_top img{max-width:100%}
.company_top .company_info{float:left;width:50%;padding:20px 20px 0 50px;box-sizing:border-box}
.company_top .company_info .text_content{padding-bottom:20px;height:100%;box-sizing:border-box;border-bottom:1px solid #ccc}
.company_bnn{text-align:center;margin-bottom:40px}
.company_bnn img{max-width:100%}
.company_box ul{display:flex;padding:20px 0 40px}
.company_box ul:after{content:"";display:block;clear:both}
.company_box ul li{width:50%;float:left;box-sizing:border-box}
.company_box .info p{color:#555;line-height:1.8;display:block;font-size:13px}
.company_box .info .tit{font-size:18px;color:#222;font-weight:600;letter-spacing:3px;padding:0 0 20px}
.company_box .info p span{width:64px;display:inline-block;margin:0 12px 0 0;position:relative}
.company_box .info  span:after{content:"";display:block;position:absolute;width:1px;height:10px;top:5px;right:0;background:#ccc}
.company_box .right{padding:0 0 0 40px}
.company_box .left{padding:0 40px 0 0}
.company_box .right > div,
.company_box .left > div{padding:15px 0;height:100%;border-bottom:1px solid #ccc;box-sizing:border-box}
.company_box:first-child ul{padding-top:0}
#map{height:400px}

/* product list */
.category_top{background:#f5f5f5;margin-bottom:70px}
.category_top .depth_1 {text-align:center;padding:40px 0}
.category_top .depth_1 ul{display:none} /* 하위 카테고리 숨김처리 */
.category_top .depth_1 > li{display:inline-block}
.category_top .depth_1 > li > a{position:relative;display:inline-block;height:22px;line-height:22px;white-space:nowrap;font-size:16px;color:#666;padding:0 25px 0 27px}
.category_top .depth_1 > li > a:hover{color:#000}
.category_top .depth_1 > li + li > a:after{content:"";display:block;width:1px;height:14px;position:absolute;left:0;top:50%;margin-top:-7px;background:#ccc}
.jd .list_item_category {border:0;text-align:center}
.jd .list_item_category ul{padding:0 5px;box-sizing:border-box}
.jd .list_item_category li{width:auto}
.jd .list_item_category li a{padding:10px 18px;font-size:14px}
.jd .list_item_category li a:hover{text-decoration:none}
.jd .list_item_category li a:before{content:"#";display:inline-block;vertical-align:middle;margin-right:3px}
.jd .item_cont{position:relative;padding:0;margin:0 10px}
.jd .goods_pick_list{padding-top:30px}
.jd .goods_pick_list .pick_list_box{border:0;padding:0;margin:0;text-align:right}
.jd .goods_pick_list .pick_list_box:after{content:"";display:block;clear:both}
.jd .goods_pick_list .pick_list_box .pick_list{float:none;vertical-align:middle}
.jd .goods_pick_list .pick_list_box .pick_list li{padding-top:0;margin-right:10px}
.jd .goods_pick_list .pick_list_box .pick_list label{display:inline-block;height:32px;line-height:30px;padding:0 8px;border:1px solid #eee;box-sizing:border-box;font-size:11px;color:#666}
.jd .goods_pick_list .pick_list_box .pick_list label.on{background:none;color:#000}
.jd .choice_num_view{float:none;display:inline-block;vertical-align:middle}
.jd .goods_pick_list .pick_list_num{float:left;font-size:12px;padding:0;margin:10px 0 0 10px}
.jd .goods_list + .pagination{border:0}
.jd .item_gallery_type:after{content:"";display:block;clear:both}
.jd .item_gallery_type .item_info_cont .color{position:absolute;width:auto !important;right:0;top:4px;text-align:right;padding:0;padding-left:20px;background:#fff;background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 26%); background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 26%); background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 26%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 )}
.jd .item_gallery_type .item_info_cont .color div{display:inline-block;width:8px;height:8px;margin:0 2px;border-radius:100%;border:1px solid #ccc}
.jd .best_item_view{padding:65px 0 30px;background:#f5f5f5}
.jd .best_item_view .best_item_view_tit{text-align:center;font-size:20px;color:#222;font-weight:600}
.jd .best_item_view .item_gallery_type{max-width:1230px;margin:0 auto}
.jd .best_item_view .item_gallery_type .item_info_cont .color{background:#f5f5f5;background:-moz-linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245,0) 1%, rgba(245,245,245,1) 26%); background: -webkit-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,0) 1%,rgba(245,245,245,1) 26%); background: linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(255,255,255,0) 1%,rgba(245,245,245,1) 26%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 )}
.jd .item_money_box{margin-top:5px}
.jd .price_percent{position:absolute;right:8px;top:8px;display:inline-block;width:40px;height:40px;border-radius:100%;line-height:40px;white-space:nowrap;background:rgba(0,0,0,0.4);font-size:12px;text-align:center;color:#fff;transition:all 0.5s;}
.jd .goods_list_cont li:hover .price_percent{top:15px}


/* product detail */
.item_info_box{width:600px}
.jd .item_detail_list,
.jd .item_detail_list + .item_choice_list table{border-bottom:1px solid #e8e8e8}
.jd .item_detail_list dt{color:#555}
.jd .item_detail_list dd{color:#555}
.jd .item_price dd{font-size:12px}
.jd .item_price dd span strong{font-weight:normal;font-size:13px;vertical-align:middle}
.jd .btn_add_cart,
.jd .btn_add_wish{font-size:14px;color:#000;font-weight:normal;border:1px solid #d0d0d0;width:169px}
.jd .btn_add_order,
.jd .btn_add_order_related,
.jd .btn_add_cart_related{width:250px;font-size:14px;color:#fff;font-weight:normal;background:#222;border-color:#222}
.jd .item_tatal_box{float:none;width:auto}
.jd .item_choice_list table{background:none}
.jd .item_choice_list table td{border-top:0}
.jd .item_choice_list table tbody:last-child tr td{border-bottom:0}
.jd .item_choice_list .item_choice_price{font-size:12px}
.jd .item_tatal_box .total_goods{display:none}
.jd .item_tatal_box .total_amount{border-top:0}
.jd .item_tatal_box .total_amount dt{font-size:13px}
.jd .item_tatal_box .total_amount dd strong{font-size:15px;color:#000}
.jd .btn_choice_box{padding-top:40px;font-size:0}
.jd .item_photo_info_sec {margin-bottom:50px;}
.jd .item_photo_info_sec .color{margin-top:4px;text-align:center;}
.jd .item_photo_info_sec .color > div{float:none;display:inline-block;vertical-align:middle;width:8px;height:8px;border-radius:100%;margin:0 0 0 5px;border-color:#ccc !important}
.jd .item_goods_sec{margin-top:50px}
.jd .item_goods_sec h3{font-size:15px}
.jd .item_goods_sec .view_tit{font-size:24px;letter-spacing:3px;text-align:center;margin:40px 0}
.jd .item_goods_tab{text-align:center;font-size:0;line-height:0;padding-top:90px}
.jd .item_goods_tab ul{display:inline-block;width:auto;height:57px;padding:0}
.jd .item_goods_tab ul:after{content:"";display:block;clear:both}
.jd .item_goods_tab li{float:left;width:220px;margin-left:-1px}
.jd .item_goods_tab li a{padding:0;height:56px;line-height:56px;font-size:13px;color:#555;background:#f8f8f8;margin:0;border-bottom:0}
.jd .item_goods_tab li.on{margin-top:0}
.jd .item_goods_tab li.on a{margin-top:0;background:#fff;color:#000;border-top:2px solid #222;line-height:54px}
.jd .item_goods_tab li a strong{font-weight:normal;color:#555}
.jd .btn_reviews_write,
.jd .btn_qna_write{background:#222;border-color:#222}
.jd .item_photo_view_box,
.jd .item_photo_big,
.jd .item_photo_big span{width:auto;max-width:600px;text-align:center;border:0}
.jd .item_photo_slide .slider_goods_nav{width:auto}
.jd .item_photo_slide .slider_goods_nav li{box-sizing:border-box;width:auto;height:auto}
.jd .item_photo_slide .slider_goods_nav li a{width:auto;text-align:center}
.jd .item_photo_slide .slider_goods_nav li a:hover{border:0;height:auto}
.jd .item_photo_slide .slider_goods_nav li img{width:auto;max-width:100%;height:auto;margin:0}

.jd .layer_wrap.zoom_layer .layer_wrap_cont{top:50% !important;left:50% !important;transform:translate(-50%,-50%)}
.jd .layer_wrap.zoom_layer .item_photo_view_box{position:unset}
.jd .layer_wrap.zoom_layer .item_photo_view_box,
.jd .layer_wrap.zoom_layer .item_photo_view{float:none !important}
.jd .layer_wrap.zoom_layer .item_photo_big{padding:40px;box-sizing:border-box;border:1px solid #eee}
.jd .layer_wrap.zoom_layer .slick-slider .slick-list{min-height:100px}
.jd .layer_wrap .item_photo_slide{right:70px}

.body-goods-view .detail_explain_box{padding-top:60px;border-top:1px solid #eee}
.body-goods-view .detail_explain_box h3{font-size:24px;color:#222;text-align:center;margin-bottom:50px;letter-spacing:3px}
.body-goods-view .detail_explain_box .slick-slider .slick-list{margin:0 30px}
.body-goods-view .detail_explain_box .item_slide_horizontal .item_info_cont{margin:0 10px}
.body-goods-view .detail_explain_box .item_slide_horizontal .item_tit_box{text-align:left;}
.body-goods-view .detail_explain_box .item_slide_horizontal .item_tit_box .item_name{font-weight:normal;}
.body-goods-view .detail_explain_box .item_slide_horizontal .color{position:absolute;width:auto !important;right:0;top:10px;text-align:right;padding:0;padding-left:20px;background:#fff;background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 26%); background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 26%); background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 26%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 )}
.body-goods-view .detail_explain_box .item_slide_horizontal .color div{display:inline-block;width:8px;height:8px;margin:0 2px;border-radius:100%;border:1px solid #ccc}
.body-goods-view .detail_explain_box .item_slide_horizontal .item_money_box .item_price{text-align:center;font-weight:normal}

.jd .reviews_table_type,
.jd .qna_table_type{border-top:1px solid #dbdbdb}
.jd .btn_reviews_box,
.jd .btn_qna_box{position:relative;text-align:right;}
.jd .btn_reviews_more,
.jd .btn_qna_more{margin-right:5px}

.jd .goods_list_cont ul li{margin:40px 0 0}
.jd .goods_list_cont ul li:hover .price_percent{top:15px}
.jd .goods_list_cont .item_photo_box{border:0}
.jd .goods_list_cont .item_photo_box a img{width:100%;height:auto}
.jd .goods_list_cont .item_cont *{font-size:11px;color:#666;text-align:center}
.jd .goods_list_cont .item_cont .item_tit_box .item_name{font-weight:600;margin-top:5px;margin-bottom:0;border:0;letter-spacing:1.5px}
.jd .goods_list_cont .item_cont .item_tit_box .item_name_explain{color:#999;padding:0}
.jd .goods_list_cont .item_cont .item_money_box .item_price span{color:#666;font-weight:600}

/* login */
.jd .member_wrap{margin-top:0}
.jd .member_tit h2{margin-bottom:90px}
.jd .member_cont .member_login_box h3{display:none}
.jd .member_cont .member_login_box .login_input_sec input{background:none}
.jd .member_cont .member_login_box .login_input_sec button{font-weight:normal;background-color:#222;border:0}
.jd .btn_member_white{font-size:12px;font-weight:normal;border:1px solid #ddd}
.jd .btn_member_join{background:none;color:#222;border:1px solid #ddd;font-size:12px;font-weight:normal}
.jd .member_cont .nonmember_order_box .order_input_sec button{font-size:14px;color:#fff;background:#222;border:0}
.jd .btn_member_id,
.jd .btn_comfirm,
.jd .btn_member_next,
.jd .user_certify_box .btn_member_sec li button{background:#222}
.jd .item_add_option_box{border-top:0}

/* join */
.jd .join_agreement_wrap .member_tit h2,
.jd .join_base_wrap .member_tit h2{margin-bottom:30px}
.jd .join_agreement_wrap .member_tit,
.jd .join_base_wrap .member_tit{border-bottom:2px solid #222}
.jd .join_base_wrap .member_cont{width:auto;padding:70px 0}
.jd .join_ok_box .btn_member_sec li button{font-weight:normal}
.jd .join_ok_box .btn_member_sec .btn_login{background:#222;border-color:#222}

/* cart */
.jd .order_wrap .order_tit li span{vertical-align:middle}
.jd .order_wrap .order_tit .page_on{color:#555}
.jd .shop_go_link{height:30px;line-height:30px;border:1px solid #ccc;padding:0 20px}
.jd .price_sum{margin-top:10px}
.jd .price_sum_cont .price_sum_list dd,
.jd .price_sum_cont .price_sum_list dd strong{color:#222;vertical-align:middle;margin-right:2px}
.jd .price_sum{border:1px solid #ddd}
.jd .payment_final_total dd{color:#222;font-size:20px}
.jd .payment_final_total dd span strong{vertical-align:middle;font-weight:600;font-size:24px}
.jd .order_cont .order_benefit_list .order_benefit_mileage em{background-position:0 -1px}


/* faq */
.board_zone_tit.faq{padding-bottom:0;margin-bottom:90px}
.date_check_box{border:1px solid #ccc;text-align:center}
.date_faq_txt{vertical-align:middle;padding-left:0}
.board_list_faq .board_hot_list{border-color:#222;padding-top:18px}

/* my shopping */
.mypage_order_info .mypage_zone_tit{border-top:0}
.mypage_order_info_cont{border-color:#e3e3e3;margin-bottom:50px}
.mypage_order_info_cont ol li strong{background:none;color:#222;font-size:24px;padding-top:4px}
.mypage_table_type th{border-top-color:#dbdbdb;background:none;font-weight:normal;}
.mypage_lately_info{margin-bottom:60px}
.mypage_lately_info .btn_board_more{top:14px;right:14px}
.mypage_lately_goods .mypage_zone_tit{border-bottom:1px solid #e3e3e3}
.mypage_top_info{border:1px solid #e3e3e3;background:none}
.mypage_top_txt{background:none;border-right:1px solid #f0f0f0}
.mypage_top_wallet li strong{vertical-align:middle;color:#222}
.mypage_main .item_photo_box a > img{width:auto}
.myshop_menu{padding:25px 0;border:1px solid #ddd;margin:20px auto 50px}
.myshop_menu ul:after{content:"";display:block;clear:both}
.myshop_menu ul li{width:calc(25% - 1px);float:left;text-align:center;border-right:1px solid #ddd;margin:25px 0}
.myshop_menu ul li:nth-child(4n){border:0}
.myshop_menu ul li > a,
.myshop_menu ul li > span{padding:90px 0 30px;display:block}
.myshop_menu ul li > a > span,
.myshop_menu ul li > span > a{color:#222;font-weight:600;font-size:14px}
.myshop_menu ul li.order{background:url(/data/skin/front/jeonyul/urban/images/common/icon_mypage01.png) no-repeat center 34px;}
.myshop_menu ul li.profile{background:url(/data/skin/front/jeonyul/urban/images/common/icon_mypage02.png) no-repeat center 32px;}
.myshop_menu ul li.wish{background:url(/data/skin/front/jeonyul/urban/images/common/icon_mypage03.png) no-repeat center 40px;}
.myshop_menu ul li.coupon{background:url(/data/skin/front/jeonyul/urban/images/common/icon_mypage04.png) no-repeat center 40px;}
.myshop_menu ul li.mileage{background:url(/data/skin/front/jeonyul/urban/images/common/icon_mypage05.png) no-repeat center 40px;}
.myshop_menu ul li.cart{background:url(/data/skin/front/jeonyul/urban/images/common/icon_mypage06.png) no-repeat center 36px;}
.myshop_menu ul li.board{background:url(/data/skin/front/jeonyul/urban/images/common/icon_mypage07.png) no-repeat center 35px;}
.myshop_menu ul li.address{background:url(/data/skin/front/jeonyul/urban/images/common/icon_mypage08.png) no-repeat center 35px;}
.my_page_password .mypage_zone_tit,
.my_page .mypage_zone_tit{border-bottom:0}
.jd .mypage_cont .join_base_wrap .member_cont{padding-top:0}
.jd .mypage_cont .board_zone_tit{display:none}
.pick_list_num{font-size:13px}
.mypage_zone_tit h3 {font-size:15px}

/* side (left) */
#wrap .side_cont .sub_menu_box h2{font-size:19px;letter-spacing:1px;text-align:left;border-bottom:1px solid #ccc}
#wrap .side_cont .sub_menu_box .sub_menu_mypage{padding-left:10px}
#wrap .side_cont .sub_menu_box .sub_menu_mypage > li{font-size:13px;background-image:none;padding-bottom:0}
#wrap .side_cont .sub_menu_box .sub_menu_mypage > li:first-child{margin-top:20px}
#wrap .side_cont .sub_menu_box .sub_menu_mypage > li > ul li a{position:relative;color:#888;text-indent:5px}
#wrap .side_cont .sub_menu_box .sub_menu_mypage > li > ul li a:hover,
#wrap .side_cont .sub_menu_box .sub_menu_mypage > li > ul li .active{background:none;font-weight:normal;color:#000;font-weight:600}
#wrap .side_cont .sub_menu_box .sub_menu_mypage > li > ul li .active:after{content:">";display:inline-block;vertical-align:middle;margin-left:3px;color:#aaa;font-weight:normal}
#wrap .side_cont .sub_menu_box .sub_menu_mypage > li > a{position:relative;color:#222;text-indent:0;background:none;font-size:13px}

#wrap .side_cont .sub_search_box h2{font-size:19px;letter-spacing:1px;text-align:left;border-bottom:1px solid #ccc;padding:0 0 14px 10px}
#wrap .side_cont .sub_search_box dl dt{font-size:13px;background-image:none;padding-bottom:0;margin-bottom:10px}
#wrap .sub_search_box dl{margin-top:20px;padding-left:10px}
#wrap .sub_search_box dl dd select{width:178px}
#wrap .sub_search_box .price_box input{width:164px}
#wrap .sub_search_box .quick_btn{padding:20px 0}
#wrap .sub_search_box .quick_btn input{background:#222;border-color:#222;padding:10px 76px}

/* review */
.jd .board_list_gallery .board_img{border:0}
.jd .board_list_gallery .board_img img{max-height:246px}
.jd .board_list_gallery .rating_star_box,
.jd .board_list_gallery .gallery_info_cont .board_tit,
.jd .board_list_gallery .board_name_day,
.jd .board_list_gallery .board_likeit_hits{text-align:center}

/*font-style*/
.jd .goods_pick_list .pick_list_num strong{color:#000}